/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}




/* Featured album art CSS */ 
.cover { 
  height: 150px; 
  width: 150px;   
  float: left; 
  margin: 10px; 
  border: 1px solid #000; 
  position: relative; 
  -webkit-box-shadow 0 0 10px #eee; 
  -moz-box-shadow 0 0 10px #eee;  
  box-shadow: 0 0 10px #eee; 
}

.cover:hover { 
  -webkit-box-shadow 0 0 10px #666; 
  -moz-box-shadow: 0 0 10px #666; 
  box-shadow: 0 0 10px #666; 
}

.info { 
  background-color: #fff; 
  background-color: rgba(255, 255, 255, .5); 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  padding: 5px; 
  border-bottom: 1px solid #000; 
  font-size: 16px; 
  text-align: left; 
}
